#all-teams {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5vh;
}

.conference {
    width: 48% !important;
}

.team-list {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

#team-card:hover {
    transition: 250ms;
    background-color: #D9D9D9;
}

