.prof-content {
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: column;
    gap: 2vw;
    align-items: start;
}

.stats {
    grid-column: span 2;
    grid-row: span 2;
}

.fantasy-team {
    grid-column: span 1;
    grid-row: span 4;
}

.player-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.vertical-line {
    width: 1px;
    background-color: #000;
    height: 8vh !important;
    margin: 0 !important;
}

#prof-card {
    height: fit-content !important;
    width: 100% !important;
    margin-right: 3vw !important;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly !important;
}

.fantasy-team-player {
    display: flex;
    flex-direction: row;
}

#team-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding-left: 3vw;
}

#dashboard-trash {
    position: absolute;
    margin-right: 56vw;
    padding-left: 0.5vw;
    padding-top: 0.5vh;
    cursor: pointer;
}

.no-team {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-right: 1.5vw;
}

.dashboard-posts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#player-post-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}