.player-card {
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-start;
    align-items: center;
    width: 80vw;
    height: 15vh !important;
    padding-right: 5vw;
    padding-left: 2vw;
    gap: 2vw;
}

#stats-table {
    margin-bottom: 5vh;
}